@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Regular.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Black.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Cera Pro', 'Tahoma', sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #3D3D3D;
}

.wrapper {
    max-width: 1220px;
    min-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    font-size: 16px;
    font-weight: 200;
    line-height: normal;
    color: #3D3D3D;
    font-style: normal;
    margin-top: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.50);
}

.logo {
    display: flex;
}

.logo img {
    width: 150px;
    height: 34.3px;
}

.actions {
    display: flex;
    align-items: center;
}

.cart {
    margin: 0 35px 0 30px;
    position: relative;
}

.cart path {
    transition: fill 0.3s;
}

.cart:hover path{
    fill: #46A358;
}

.loop path {
    transition: fill 0.3s;
}

.loop:hover path {
    fill: #46A358;
    transition: fill 0.3s;
}

.cart_numbers {
    position: absolute;
    top: -1px;
    right: -7px;
    background: #46A358;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    padding: 1px 4px;
    font-size: 10px;
    font-weight: 400;
    color: #FFFFFF;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 19px;
    border-radius: 6px;
    background: #46A358;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.login:hover {
    opacity: 0.7;
}

.login span{
    padding-left: 4px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

.nav {
    margin-left: -4px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.menu li {
    list-style: none;
    position: relative;
}


.menu > li > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    color: #3D3D3D;
    padding: 24px 25px;
    position: relative;
}

.menu > li > a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 3px;
    background-color: #46A358;
    transition: width 0.3s ease;
}

.menu > li:hover > a::after {
    width: 60%;
}

.menu ul a {
    color: #3D3D3D;
    font-family: 'Cera Pro', 'Tahoma', sans-serif;
    font-size: 16px;
    font-weight: 200;
    text-decoration: none;
    display: flex;
    padding: 8px 14px;
    justify-content: space-between;
}

.arrow_open {
    margin: 7px 0;
}

.menu li:last-child .arrow_open {
    transition: rotate 0.3s ease;
}
.menu li:last-child .arrow_open path{
    transition: fill 0.3s ease;
}

.menu li:last-child:hover .arrow_open {
    transform: rotate(180deg);
}
.menu li:last-child:hover .arrow_open path{
    fill: #FFFFFF;
}

.menu ul li > a {
    transition: color 0.3s ease, background-color 0.1s ease;
}


.menu ul li:hover > a {
    color: #FFFFFF;
    background: #1A712A;
}

.menu ul::before {
    content: "";
    width: 110%;
    height: 110%;
    position: absolute;
    top: -15px;
    right: 0;
    background-color: transparent;
    display: block;
}

.menu li ul {
    display: none;
    position: absolute;
    left: 25px;
    width: 188px;
    padding-left: 0;
    background: #EDF6EE;
}

.menu li:hover > ul {
    display: block;
}

.menu ul {
    margin-top: 12px;
}

.menu ul ul {
    width: 178px;
    position: absolute;
    top: -120px;
    left: 190px;
}

.welcome {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50)
    -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
}

.welcome-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 68px 40px 85px;
}

.welcome-block h1 {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.welcome-block h2 {
    padding-top: 7px;
    font-size: 70px;
    font-weight: 800;
    line-height: 70px;
    text-transform: uppercase;
    width: 600px;
}

.text-planet {
    color: #46A358;
}

.text-description {
    padding: 5px 20px 0 5px;
    color: #727272;
    font-size: 14px;
    font-weight: 200;
    line-height: 24px;
}

.image-block {
    display: flex;
}

.btn-shop {
    font-family: 'Cera Pro', 'Tahoma', sans-serif;
    cursor: pointer;
    margin-top: 44px;
    padding: 10px 27px;
    border: none;
    border-radius: 6px;
    background: #46A358;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    transition: scale 0.3s ease;
}

.btn-shop:hover {
    scale: 1.2;
}

.container {
    display: flex;
    margin: 42px -10px 0;
}

.content-left {
    width: 25%;
    padding: 16px 10px 0 26px;
}

.content-right {
    width: 75%;
    padding: 0 10px;
}

.categories {
    background: #FBFBFB;
}

.categories h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 88.889%;
}

.categories ul {
    list-style: none;
    margin: 0;
    padding: 17px 0 0 11px;
}

.categories li {
    padding-bottom: 21px;
    font-size: 15px;
}

.categories a {
    text-decoration: none;
    color: #3D3D3D;
    display: flex;
    justify-content: space-between;
    transition: color 0.1s ease, font-weight 0.3s ease;
}

.categories span {
    padding-right: 18px;
}

.categories a:hover {
    color: #46A358;
    font-weight: 600;
}

.categories aside img {
    width: 100%;
    height: auto;
    display: block;
}

.sorting {
    font-size: 15px;
    line-height: 106.667%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0;
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.filter li {
    padding-right: 32px;
}

.filter button {
    position: relative;
    background: transparent;
    border: none;
    font-family: 'Cera Pro', 'Tahoma', sans-serif;
    font-size: 15px;
    font-weight: 200;
    cursor: pointer;
    padding-bottom: 6px;
}

.filter button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 2px;
    background-color: #46A358;
    transition: width 0.3s ease;
}

.filter button:hover::after {
    width: 90%;
}

.filter button:hover {
    color: #46A358;
}


.sorting-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-sort {
    padding-right: 14px;
}

.sorting-right .sort-button {
    padding: 0;
    border: none;
    background: transparent;
    font-size: 15px;
    font-weight: 200;
    line-height: 106.667%;
    cursor: pointer;
    font-family: 'Cera Pro', 'Tahoma', sans-serif;
    transition: color 0.3s ease;
}

.sorting-right .sort-button:hover {
    color: #46A358;
}

.sorting-right svg {
    width: 13px;
    height: 8px;
    flex-shrink: 0;
    margin-left: 14px;
}

.sorting-right .sort-button path {
    transition: stroke 0.3s ease;
}

.sorting-right .sort-button:hover path {
    stroke: #46A358;
}


.list {
    display: flex;
    flex-wrap: wrap;
    margin: 32px -10px 0;
}

.item {
    width: 33.333%;
    padding: 0 10px 67px;
}

.item-inset {
    position: relative;
    background: #FBFBFB;
}

.item-inset::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #46A358;
    transition: width 0.3s ease;
}

.item-inset:hover::before {
    width: 100%;
}

.item-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.img-responsive {
    height: auto;
}

.item-name{
    color: #3D3D3D;
    text-decoration: none;
    font-size: 16px;
    line-height: 100%;
    margin-top: 12px;
    display: block;
}

.item-price {
    display: block;
    color: #46A358;
    font-size: 18px;
    font-weight: 600;
    line-height: 88.889%;
    margin-top: 6px;
}

.img-relative {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-absolute {
    position: absolute;
    bottom: 7px;
    display: flex;
}

.item-icons {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.item-image:hover .item-icons {
    opacity: 1;
}

.icon {
    background: none;
    border: none;
    cursor: pointer;
}

.icon:hover path {
    transition: fill 0.3s ease;
}

.icon:hover path {
    fill: #46A358;
}

.sale {
    text-transform: uppercase;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    padding: 9px;
    background: #46A358;
    position: absolute;
    top: 8px;
    left: 0;
}

.paginator {
    display: flex;
    justify-content: flex-end;
    margin-top: 22px;
}

.pages {
    text-decoration: none;
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 100;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    margin-left: 10px;
    height: 35px;
    padding: 0 11.6px;
    display: flex;
    align-items: center;
    transition: color 0.3s ease, font-weight 0.3s ease,
    background 0.3s ease, border 0.3s ease;
}

.pages:hover {
    color: #FFF;
    font-weight: 600;
    border: 1px solid #46A358;
    background: #46A358;
}

.previous {
    text-decoration: none;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    height: 35px;
    padding: 0 11.6px;
    display: flex;
    align-items: center;
    margin-right: 3px;
    transition: background 0.3s ease, border 0.3s ease;
}

.previous:hover {
    border: 1px solid #46A358;
    background: #46A358;
}

.previous:hover path{
    stroke: #FFFFFF;
}

.next {
    text-decoration: none;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    margin-left: 10px;
    height: 35px;
    padding: 0 11.6px;
    display: flex;
    align-items: center;
    transition: background 0.3s ease, border 0.3s ease;
}

.next:hover {
    border: 1px solid #46A358;
    background: #46A358;
    stroke: #FFFFFF;
}

.next path {
    transition: stroke 0.3s ease;
}

.next:hover path{
    stroke: #FFFFFF;
}



.container-more {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 100px;
}

.info-more-left,
.info-more-right {
    display: flex;
    background: #FBFBFB;
    width: 49%;
}

.info-more-image {
    width: 50%;
}

.info-more-text {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 62px 20px 20px 0;
}

.info-more-text h3 {
    text-align: right;
    font-size: 18px;
    font-weight: 800;
    line-height:  133.333%;
    text-transform: uppercase;
}

.info-more-text p {
    color: #727272;
    text-align: right;
    font-size: 14px;
    font-weight: 200;
    line-height: 171.429%;
}

.btn-find-more {
    border-radius: 6px;
    background: #46A358;
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 28px;
    transition: scale 0.3s ease;
}

.btn-find-more:hover {
    scale: 1.2;
}


.btn-find-more span {
    font-size: 14px;
    font-weight: 400;
    line-height: 142.857%;
    padding-right: 5px;
}


.blog {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 132px;
}

.blog h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 53.333%;
}

.blog p {
    color: #727272;
    font-size: 14px;
    font-weight: 200;
    line-height: 171.429%;
    margin-top: 15px;
}

.blog-posts {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    gap: 20px;
}

.blog-post {
    width: 25%;
}

.blog-post-inset {
    background: #FBFBFB;
}

.blog-post-text {
    padding: 15px;
}

.blog-post-text p {
    line-height: 157.143%;
    padding-bottom: 6px;
}

.blog-post-text .date-post {
    color: #46A358;
    font-weight: 400;
    line-height: 114.286%;
    padding-bottom: 5px;
}

.blog-post-text h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
}

.btn-read-more span {
    font-size: 14px;
    font-weight: 400;
    line-height: 114.286%;
    color: #3D3D3D;
    transition: color 0.3s ease;
}

.btn-read-more {
    text-decoration: none;
}

.btn-read-more:hover span{
    color: #46A358;
}

.btn-read-more path {
    transition: color 0.3s ease;
}

.btn-read-more:hover path {
    stroke: #46A358;
}

.follow-news {
    background: #FBFBFB;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.container-garden {
    display: flex;
    gap: 50px;
    margin-right: 100px;
    width: 66.666%;
    padding-top: 26px;
    padding-bottom: 28px;
}

.container-join {
    width: 33.333%;
    margin-top: 37px;
}

.link-cactus {
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.link-cactus:hover {
    opacity: 0.7;
}

.garden-article h3 {
    color: #3D3D3D;
    font-size: 17px;
    font-weight: 600;
    line-height: 94.118%;
    margin-top: 15px;
}

.garden-article p {
    color: #727272;
    font-size: 14px;
    font-weight: 200;
    line-height: 157.143%;
    margin-top: 9px;
}

.container-garden h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 88.889%;
}

.newsletters-text {
    color: #727272;
    font-size: 13px;
    font-weight: 200;
    line-height: 169.231%;
    margin-top: 17px;
}

.email-newsletter {
    margin-top: 18px;
}


.email-input input {
    border: none;
    background: none;
}

.email-newsletter h3 {
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
    width: 354px;
    height: 40px;
    flex-shrink: 0;
}

.newsletters-text {
    color: #727272;
    font-size: 13px;
    font-weight: 200;
    line-height: 169.231%;
    margin-top: 17px;
}

.email-form {
    display: flex;
    width: 354px;
    height: 40px;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
    margin-top: 18px;
}

.email-form input {
    border: none;
    background: none;
    padding: 0 12px;
    font-size: 14px;
    flex: 1;
}

.email-form button {
    background: #46A358;
    border: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 88.889%;
    border-radius: 0px 6px 6px 0px;
    width: 85px;
    height: 40px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.email-form button:hover {
    opacity: 0.7;
}

.container-contacts {
    background: rgba(70, 163, 88, 0.10);
}

.container-contacts-inset {
    height: 88px;
    display: flex;
    align-items: center;
    margin-right: 230px;
    gap: 50px;
}

.container-contacts .wrapper {
    border-top: solid 1px #46A358;
    border-bottom: 1px solid #46A358;
}

.container-contacts-inset a {
    display: flex;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
}

.container-contacts-inset .logo {
    margin-right: 110px;
}

.container-contacts-article {
    padding-right: 50px;
}

.text-contact {
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 200;
    line-height: 157.143%;
}

.container-contacts-inset p {
    transition: color 0.3s ease;
}

.container-contacts-inset a:hover p {
    color: #46A358;
}

.phone-contacts .text-contacts {
    white-space: nowrap;
}

.icon-contacts {
    margin-right: 10px;
    flex-shrink: 0;
}


.footer-links {
    display: flex;
    padding-top: 33px;
    padding-bottom: 27px;
    border-bottom: 1px solid rgba(70, 163, 88, 0.20);
}

.footer-links-container {
    display: flex;
    white-space: nowrap;
}

.footer-links-container-block {

}

.footer-links-container-block:nth-child(1) {
    margin-right: 154px;
}

.footer-links-container-block:nth-child(2) {
    margin-right: 142px;
}

.footer-links-container-block:nth-child(3) {
    margin-right: 212px;
}


.footer-links-container-block-link {
    text-decoration: none;
    display: block;
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 200;
    line-height: 214.286%;
    transition: color 0.3s;
}

.footer-links-container-block-link:hover {
    color: #46A358;
}

.footer-links-social {
    width: 33.333%;
}

.footer-links h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 88.889%;
    margin-bottom: 8px;
}


.footer-links-social-icons {
    margin-top: 20px;
    margin-bottom: 33px;
}

.footer-links-social-icons-links {
    cursor: pointer;
}

.footer-links-social-icons path {
    transition: fill-opacity 0.3s;
}

.footer-links-social-icons a:hover path {
    fill-opacity: 1;
}

.footer-links-social-icons rect {
    stroke-opacity: 1;
    transition: stroke-opacity 0.3s;
}

.footer-links-social-icons a:hover rect {
    stroke-opacity: 1;
}

.payments {
    margin-top: 13px;
}

.container-copyrights {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7px;
    margin-bottom: 10px;
}

.copyright {
    font-size: 14px;
    font-weight: 200;
    line-height: 214.286%;
}