* {
    margin: 0;
    box-sizing: border-box;
}

.body {
    font-family: Tahoma, sans-serif;
    font-style: normal;
    color: #3D3D3D;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.header {
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #3D3D3D;
    font-style: normal;
    margin-top: 26px;
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.50);
}

.logo {
    float: left;
    margin-bottom: 17.7px;
}

.logo img {
    width: 150px;
    height: 34.3px;
}

.login {
    float: right;
    width: 100px;
    height: 35px;
    border-radius: 6px;
    background: #46A358;
    text-decoration: none;
}

.login svg {
    width: 16.278px;
    height: 15.417px;
    margin-top: 10px;
    margin-left: 18px;
}

.login span{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}

.menu {
    float: left;
    margin-left: 244px;
    margin-top: 8px;
    border-bottom: 3px solid transparent;
}

.menu a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    margin-left: 50px;
    color: #3D3D3D;
    padding-bottom: 26px;
}

.menu a:hover {
    border-bottom: 3px solid #46A358;
    font-weight: bold;
}

.welcome {
    margin-top: 10px;
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50)
    -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
}

.welcome-block {
    display: inline-block;
    margin: 68px 0 85px 40px;
    vertical-align: top;
}

h1 {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.welcome-block h2 {
    padding-top: 7px;
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    text-transform: uppercase;
    width: 600px;
}

.text-planet {
    color: #46A358;
}

.text-description {
    padding: 5px 20px 0 5px;
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    width: 557px;
}

.image-block {
    display: inline-block;
    width: 487px;
    height: 450px;
    margin-left: 60px;
}

.btn-shop {
    cursor: pointer;
    margin-top: 44px;
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 6px;
    background: #46A358;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.categories {
    padding: 0 23px 19px 17px;
    float: left;
    background: #FBFBFB;
    margin-top: 46px;
}

.categories h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 88.889%;
}

.categories ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.categories li {
    padding-top: 16px;
    padding-left: 11px;
    font-size: 15px;
    font-weight: 400;
    line-height: 266.667%;
}

.categories a {
    float: left;
    text-decoration: none;
    color: #3D3D3D;
    width: 100%;
}

.categories a:hover {
    color: #46A358;
    font-weight: 700;
}

.categories a span {
    float: right;
}

.sorting {
    font-size: 15px;
    font-weight: 400;
    line-height: 106.667%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 46px;
    padding: 0;

}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.filter li {
    padding-right: 40px;
}

.filter button {
    background: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    font-weight: 700;
    cursor: pointer;
}

.filter button:hover {
    color: #46A358;
    border-bottom: 2px solid #46A358;
}

.sorting-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-sort {
    padding-right: 9px;
}

.sorting-right .sort-button {
    padding: 0;
    border: none;
    background: transparent;
    font-size: 15px;
    font-weight: 400;
    line-height: 106.667%;
    cursor: pointer;
    font-family: Tahoma, sans-serif;
}

.sorting-right svg {
    width: 13px;
    height: 8px;
    flex-shrink: 0;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
}

.product {
    margin-bottom: 60px;
    border-top: 2px solid transparent;
    background:  #FBFBFB;
}

.product:hover {
    border-top: 2px solid #46A358;
}

.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 285px;
    height: 300px;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.product-name{
    color: #3D3D3D;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    margin-top: 12px;
    display: block;
}

.product-price {
    display: block;
    color: #46A358;
    font-size: 18px;
    font-weight: 700;
    line-height: 88.889%;
    margin-top: 6px;
}

.paginator {
    float: right;
    margin-top: 90px;
}

.pages {
    text-decoration: none;
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 300;
    line-height: 88.889%;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    padding: 9.5px 13.5px;
    margin-left: 10px;
}

.pages:hover {
    color: #FFF;
    border-radius: 4px;
    border: 1px solid #46A358;
    background: #46A358;
}

.previous {
    text-decoration: none;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    padding: 11.4px 13.0px;
}

.previous:hover {
    border-radius: 4px;
    border: 1px solid #46A358;
    background: #46A358;
}

.previous:hover path{
    stroke: #FFFFFF;
}

.next {
    text-decoration: none;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    margin-left: 10px;
    padding: 11.4px 13.0px;
}

.next:hover {
    border-radius: 4px;
    border: 1px solid #46A358;
    background: #46A358;
    stroke: #FFFFFF;
}

.next:hover path{
    stroke: #FFFFFF;
}