@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Regular.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Black.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Cera Pro', 'Tahoma', sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #3D3D3D;
}

.wrapper {
    max-width: 1220px;
    min-width: 1000px;
    margin: 0 auto;
}

.header {
    font-size: 16px;
    font-weight: 200;
    line-height: normal;
    color: #3D3D3D;
    font-style: normal;
    margin-top: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.50);
}

.logo {
    display: flex;
}

.logo img {
    width: 150px;
    height: 34.3px;
}

.actions {
    display: flex;
    align-items: center;
}

.cart {
    margin: 0 35px 0 30px;
    position: relative;
}

.cart_numbers {
    position: absolute;
    left: 14px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 17px;
    border-radius: 6px;
    background: #46A358;
    text-decoration: none;
}

.login span{
    padding-left: 4px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-size: 16px;
    color: #3D3D3D;
    padding: 24px 25px;
    border-bottom: 3px solid transparent;
}

.menu a:hover {
    border-bottom: 3px solid #46A358;
    font-weight: 600;
}

.welcome {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50)
    -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
}

.welcome-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 68px 40px 85px;
}

h1 {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.welcome-block h2 {
    padding-top: 7px;
    font-size: 70px;
    font-weight: 800;
    line-height: 70px;
    text-transform: uppercase;
    width: 600px;
}

.text-planet {
    color: #46A358;
}

.text-description {
    padding: 5px 20px 0 5px;
    color: #727272;
    font-size: 14px;
    font-weight: 200;
    line-height: 24px;
}

.image-block {
    display: flex;
}

.btn-shop {
    font-family: 'Cera Pro', 'Tahoma', sans-serif;
    cursor: pointer;
    margin-top: 44px;
    padding: 10px 26px;
    border: none;
    border-radius: 6px;
    background: #46A358;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
}

.container {
    display: flex;
    margin: 46px -10px 0;
}

.content-left {
    width: 25%;
    padding: 0 10px;
}

.content-right {
    width: 75%;
    padding: 0 10px;
}

.categories {
    background: #FBFBFB;
}

.categories h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 88.889%;
}

.categories ul {
    list-style: none;
    margin: 0;
    padding: 13px 0 0 11px;
}

.categories li {
    padding: 13px 0;
    font-size: 15px;
}

.categories a {
    text-decoration: none;
    color: #3D3D3D;
    display: flex;
    justify-content: space-between;
}

.categories a:hover {
    color: #46A358;
    font-weight: 600;
}

.sorting {
    font-size: 15px;
    line-height: 106.667%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0;

}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.filter li {
    padding-right: 40px;
}

.filter button {
    background: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    font-family: 'Cera Pro', 'Tahoma', sans-serif;
    font-size: 15px;
    font-weight: 200;
    cursor: pointer;
}

.filter button:hover {
    color: #46A358;
    font-weight: 600;
    border-bottom: 2px solid #46A358;
}

.sorting-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-sort {
    padding-right: 9px;
}

.sorting-right .sort-button {
    padding: 0;
    border: none;
    background: transparent;
    font-size: 15px;
    font-weight: 200;
    line-height: 106.667%;
    cursor: pointer;
    font-family: 'Cera Pro', 'Tahoma', sans-serif;
}

.sorting-right svg {
    width: 13px;
    height: 8px;
    flex-shrink: 0;
}

.list {
    display: flex;
    flex-wrap: wrap;
    margin:38px -10px 0;
}

.item {
    width: 33.333%;
    padding: 0 10px 20px;
}

.item-inset {
    border-top: 2px solid transparent;
    background: #FBFBFB;
}

.item-inset:hover {
    border-top: 2px solid #46A358;
}

.item-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.item-name{
    color: #3D3D3D;
    text-decoration: none;
    font-size: 16px;
    line-height: 100%;
    margin-top: 12px;
    display: block;
}

.item-price {
    display: block;
    color: #46A358;
    font-size: 18px;
    font-weight: 600;
    line-height: 88.889%;
    margin-top: 6px;
}

.img-relative {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-absolute {
    position: absolute;
    bottom: 7px;
    display: flex;
    gap: 16px;
}

.item-icons {
    opacity: 0;
}

.item-image:hover .item-icons {
    opacity: 1;
}

.icon {
    background: none;
    border: none;
    cursor: pointer;
}

.icon:hover path {
    fill: #46A358;
}

.sale {
    text-transform: uppercase;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    padding: 9px;
    background: #46A358;
    position: absolute;
    top: 14px;
    left: 0;
}

.paginator {
    display: flex;
    justify-content: flex-end;
    margin-top: 90px;
}

.pages {
    text-decoration: none;
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 100;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    margin-left: 10px;
    height: 35px;
    padding: 0 11.6px;
    display: flex;
    align-items: center;
}

.pages:hover {
    color: #FFF;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid #46A358;
    background: #46A358;
}

.previous {
    text-decoration: none;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    height: 35px;
    padding: 0 11.6px;
    display: flex;
    align-items: center;
}

.previous:hover {
    border-radius: 4px;
    border: 1px solid #46A358;
    background: #46A358;
}

.previous:hover path{
    stroke: #FFFFFF;
}

.next {
    text-decoration: none;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    margin-left: 10px;
    height: 35px;
    padding: 0 11.6px;
    display: flex;
    align-items: center;
}

.next:hover {
    border-radius: 4px;
    border: 1px solid #46A358;
    background: #46A358;
    stroke: #FFFFFF;
}

.next:hover path{
    stroke: #FFFFFF;
}