.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    &__address {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &-text {
            color: #323264;
            font-size: 16px;
            font-weight: 400;
        }
        &-link {
            color: #24A3FF;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: none;
            margin-top: 10px;
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__fb {
        display: flex;
        text-align: right;
        width: 38px;
        height: 38px;
        fill: #24A3FF;
        margin-top: 21px;
        &:hover {
            fill: #F0145A;
        }
    }
    &__tel {
        text-decoration: none;
        color: #46466E;
        text-align: right;
        font-size: 16px;
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    &__mail {
        text-decoration: none;
        color: #24A3FF;
        font-size: 16px;
        font-weight: 700;
        &:hover {
            color: #F0145A;
        }
    }
    &__copyright {
        color: #B3B3BA;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        align-self: stretch;
        margin-top: 30px;
    }
}


@media (min-width: 648px) {
    .footer {
        &__address {
            flex-direction: row;
            &-text {

            }
            &-link {
                margin-top: 0;
                display: flex;
                align-items: center;
                &::before {
                    content: '';
                    display: block;
                    width: 6px;
                    height: 6px;
                    margin: 0 10px;
                    border-radius: 50%;
                    background-color: #E6E6F0;
                }
            }
        }
        &__contacts {
            flex-direction: row;
            margin-top: 21px;
        }
        &__fb {
            display: flex;
            align-items: center;
            margin-top: 0;
        }
        &__tel {
            display: flex;
            align-items: center;
            &::before {
                content: '';
                display: block;
                width: 6px;
                height: 6px;
                margin: 0 10px;
                border-radius: 50%;
                background-color: #E6E6F0;
            }
        }
        &__mail {
            display: flex;
            align-items: center;
            &::before {
                content: '';
                display: block;
                width: 6px;
                height: 6px;
                margin: 0 10px;
                border-radius: 50%;
                background-color: #E6E6F0;
            }
        }
    }
}


@media (min-width: 991px) {
    .footer {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        &__address,
        &__contacts {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        &__copyright {
            align-self: flex-start;
            margin: 0;
        }
    }
}
