.gradient {
    background: var(--Gradient-Supersoft, linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%));;
}

.bg-letter {
    background: url("../img/bg-letter.svg") no-repeat top center;
    background-size: auto 100%;
}
