.profits {
    padding-bottom: 60px;
    &__btn {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #24A3FF;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        svg {
            width: 12px;
            height: 12px;
        }
    }
    &__label {
        font-size: 30px;
        font-weight: 700;
        background: var(--Gradient-Red-Text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 30px;
        margin-top: 10px;
    }
    &__item {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        &-img {
            padding: 14px;
            gap: 10px;
            border-radius: 24px;
            background: #FFFFFF;
            img {
                width: 64px;
                height: 64px;
            }
        }
        a {
            text-decoration: none;
        }
        &-title {
            margin-top: 30px;
            margin-bottom: 15px;
            color: #24A3FF;
            font-size: 22px;
            font-weight: 700;
            transition: opacity 0.3s ease;
            &:hover {
                opacity: 0.7;
            }
        }
        &-description {
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 400;
            line-height: 162.5%;
        }
    }
    .row {
       /* --bs-gutter-x: 30px;*/
        --bs-gutter-y: 30px;
    }
}
